body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
  width: 1600px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
  position: relative;
}

.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container {
  position: relative;
}

.header__burger:hover + .header__nav,
.header__burger:focus + .header__nav {
  display: block;
}

.header__nav {
  display: none;
  position: absolute;
  width: 232px;
  min-height: 765px;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.5);
  top: 75px;
  right: 0px;
  padding: 37px 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__nav-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.header .nav-item__list {
  padding-left: 20px;
  margin-bottom: 20px;
}

.header .nav-item__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.header .nav-item__item {
  margin-bottom: 11px;
}

.header .nav-item__link {
  color: #6F6E6E;
  text-decoration: none;
}

.header .nav-item__link:hover {
  color: #F26376;
}

.header__logo {
  margin-right: 41px;
}

.header__search {
  background-color: transparent;
  border: none;
}

.header__icon {
  fill: #E8E8E8;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  margin-left: 34px;
}

.header__link--basket {
  position: relative;
}

.header__bassket-amount {
  position: absolute;
  border: 1px solid #F16D7F;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  top: -22px;
  left: 25px;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.brand__img {
  width: 800px;
  height: 765px;
}

.brand__title-wrp {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 91px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brand__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-transform: uppercase;
}

.brand__title-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
}

.brand__title-text-color {
  color: #F16D7F;
}

.brand__title-border {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.sales {
  margin-bottom: 91px;
}

.sales .sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sales .sales__list .sales__card {
  width: 360px;
  height: 260px;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sales .sales__list .sales__card--woman {
  background-image: url(img/for-women.jpeg);
}

.sales .sales__list .sales__card--man {
  background-image: url(img/for-man.jpeg);
}

.sales .sales__list .sales__card--kid {
  background-image: url(img/for-kid.jpeg);
}

.sales .sales__list .sales__card--acces {
  background-image: url(img/accesosries.png);
  width: 100%;
  height: 180px;
  margin-top: 20px;
}

.sales .sales__list .sales__text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.sales .sales__list .sales__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
  text-transform: uppercase;
}

.products {
  margin-bottom: 95px;
}

.products__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.products__sub-title {
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}

.products__cardbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  background: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

.products__card::before {
  content: '';
  width: 100%;
  min-height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  position: absolute;
  display: none;
}

.products__card:hover::before {
  display: block;
}

.products__card-img {
  margin-bottom: 25px;
}

.products__card-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 13px;
  text-transform: uppercase;
  margin-left: 18px;
}

.products__card-text {
  color: #5D5D5D;
  font-weight: 300;
  margin-bottom: 18px;
  margin-left: 18px;
}

.products__card-price {
  color: #F16D7F;
  margin-left: 18px;
  margin-bottom: 20px;
}

.products__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #F26376;
  padding: 14px 39px;
}

.products__button:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #F26376;
  color: #FFFFFF;
  border: 1px solid #F26376;
  padding: 14px 39px;
}

.products__button:focus {
  outline: 1px solid #F26376;
}

.products__card-button {
  padding: 9px 13px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  top: 33%;
  left: 30%;
  display: none;
}

.products__card:hover .products__card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__card-basket {
  width: 25px;
  margin-right: 11px;
}

.advantage {
  background-color: #222224;
  padding: 103px 0;
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage__item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__img {
  margin-bottom: 20px;
}

.advantage__img--car {
  margin-bottom: 28px;
}

.advantage__img--crown {
  margin-bottom: 25px;
}

.advantage__title {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}

.advantage__text {
  color: #FBFBFB;
  text-align: center;
  font-weight: 300;
}

.footer__top {
  background-image: url(img/bcg-footer.jpeg);
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top .footer__top-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__top .footer__top-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
}

.footer__top .footer__top-img {
  width: 96px;
  margin-bottom: 30px;
}

.footer__top .footer__top-text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer__top .footer__form-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top .footer__form-wrp .footer__form-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.footer__top .footer__form-wrp .footer__form-text {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.footer__top .footer__form {
  position: relative;
}

.footer__top .footer__form-email {
  padding: 17px 22px;
  border-radius: 25px 0 0 25px;
  background-color: #E1E1E1;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  width: 256px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__top .footer__form-email:hover,
.footer__top .footer__form-email:focus {
  outline: 1px solid #F16D7F;
  cursor: pointer;
  padding: 16.5px 22px;
}

.footer__top .footer__form-email::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footer__top .footer__form-email:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footer__top .footer__form-email::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footer__top .footer__form-email::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footer__top .footer__form-button {
  border-radius: 0px 25px 25px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 19px;
  position: absolute;
}

.footer__bottom {
  background-color: #222224;
}

.footer__bottom .footer__bottom-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 71px;
}

.footer__bottom .footer__bottom-wrp .footer__bottom-text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__bottom .footer__bottom-wrp .footer__bottom-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom .footer__bottom-wrp .footer__bottom-icon {
  margin-right: 7px;
}

.footer__bottom .footer__bottom-wrp .footer__bottom-icon {
  background-color: white;
  width: 32px;
  height: 32px;
}

.footer__bottom .footer__bottom-wrp .footer__bottom-icon:hover {
  background-color: #F16D7F;
}

.footer__bottom .footer__bottom-wrp .social-icon {
  fill: black;
}

.footer__bottom .footer__bottom-wrp .social-icon:hover {
  fill: white;
}

.reg {
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reg__wrp {
  background: #F8F3F4;
  padding: 60px 0;
  margin-bottom: 64px;
}

.reg__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.form__reg {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__view {
  width: 100%;
  border: 1px solid #A4A4A4;
  margin-bottom: 21px;
  padding: 14px 17px;
  color: #B1B1B1;
}

.form__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 21px;
  width: 100%;
}

.form__view {
  color: #F26376;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__view:hover {
  border: 1px solid #F26376;
}

.form__view:focus {
  outline: 1px solid #F26376;
  border: none;
}

.form__view::-webkit-input-placeholder {
  color: #B1B1B1;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.form__view:-ms-input-placeholder {
  color: #B1B1B1;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.form__view::-ms-input-placeholder {
  color: #B1B1B1;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.form__view::placeholder {
  color: #B1B1B1;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.form__view:focus::-webkit-input-placeholder {
  text-indent: 500px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.form__view:focus:-ms-input-placeholder {
  text-indent: 500px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.form__view:focus::-ms-input-placeholder {
  text-indent: 500px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.form__view:focus::placeholder {
  text-indent: 500px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.form__radiobox {
  margin-top: 10px;
  margin-bottom: 33px;
}

.form__radiobox-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__radio {
  position: absolute;
  opacity: 0;
}

.form__radio + .form__radio-text {
  position: relative;
  cursor: pointer;
  padding: 0 0 0 35px;
}

.form__radio + .form__radio-text:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  background: #FFF;
}

.form__radio + .form__radio-text:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 2px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #F16D7F;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.form__radio:checked + .form__radio-text:after {
  opacity: 1;
  top: -1px;
  left: 2px;
  width: 15px;
  height: 15px;
}

.form__radio-text {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-right: 20px;
}

.form__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.form__button {
  padding: 16px 29px;
}

.form__button:hover {
  padding: 16px 29px;
}

.form__button-arrow {
  fill: #F16D7F;
  margin-left: 20px;
}

.form__button:hover .form__button-arrow {
  fill: #FFFFFF;
}

.reg__adv {
  width: 652px;
}

.reg__adv .adv__title {
  margin-bottom: 21px;
}

.reg__adv .adv__title--up {
  text-transform: uppercase;
}

.reg__adv .adv__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.reg__adv .adv__item {
  position: relative;
  margin-left: 43px;
  margin-bottom: 16px;
}

.reg__adv .adv__item::before {
  content: "";
  background-image: url(img/Vector.svg);
  width: 20px;
  height: 16px;
  position: absolute;
  top: 9px;
  left: -43px;
}

.hover__button:hover .hover__icon,
.hover__button:focus .hover__icon,
.hover__button:active .hover__icon {
  fill: #F16D7F;
}
/*# sourceMappingURL=style.css.map */